<div class="vistaProductos" style="border: 1px solid black">
    {{#if products}}
        {{#each products}}
        <div><span>ID: </span><p>{{id}}</p></div>
        <div><span>Nombre: </span><p>{{title}}</p></div>
        <div><span>Precio: </span><p>{{price}}</p></div>
        <div><span>Descripcion: </span><p>{{description}}</p></div>
        <div><span>Thumbnails: </span><p>{{thumbnails}}</p></div>
        <div><span>Status: </span><p>{{status}}</p></div>
        <div><span>Stock: </span><p>{{stock}}</p></div>
        {{/each}}
    {{else}}
        {{#each limitedProducts}}
        <div><span>ID: </span><p>{{id}}</p></div>
        <div><span>Nombre: </span><p>{{title}}</p></div>
        <div><span>Precio: </span><p>{{price}}</p></div>
        <div><span>Descripcion: </span><p>{{description}}</p></div>
        <div><span>Thumbnails: </span><p>{{thumbnails}}</p></div>
        <div><span>Status: </span><p>{{status}}</p></div>
        <div><span>Stock: </span><p>{{stock}}</p></div>
        {{/each}}
    {{/if}}
</div>